<div class="app">
  <div class="mobile-layout" *ngIf="innerWidth<600">
    <app-top-bar [profile]="true" [search]="true" [title]="'CyberChamis'"></app-top-bar>
    <div class="contents" [@fadeAnimation]="mobileOutlet.isActivated ? mobileOutlet.activatedRoute : ''">
      <router-outlet #mobileOutlet="outlet"></router-outlet>
    </div>
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="default-layout" *ngIf="innerWidth>=600">
    <div class="app-left">
      <app-nav-bar></app-nav-bar>
    </div>
    <div class="app-right">
      <app-top-bar [profile]="true" [search]="true" [title]="'CyberChamis'"></app-top-bar>
      <div class="contents" [@fadeAnimation]="desktopOutlet.isActivated ? desktopOutlet.activatedRoute : ''">
        <router-outlet #desktopOutlet="outlet"></router-outlet>
      </div>
    </div>
  </div>
</div>
