@import "../../../../app-var";

.defi-card{
  margin: 20px;
  max-width: calc( $max-width-smartphone / 2);
  width: 100%;
}
.defis-container{
  display: flex;
  justify-content: left;
  align-items: center;
  align-content: stretch;
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: $max-width-smartphone){
  .defi-card{
    max-width: $max-width-smartphone  ;
  }
}

@media screen and (max-width: $max-width-tablet){
  .defis-container{
    justify-content: center;
  }
}
