<div *ngIf="defisObsView | async as defis">
  <div *ngIf="getvisiteObsView() | async as visites">
    <app-slide-reprendre-defis *ngIf="visites.length>0" [visites]="visites" (abandonJeux)="update()"></app-slide-reprendre-defis>
  </div>
  <app-slides-defis [defis]="defis"></app-slides-defis>
  <div *ngIf="defisNbChamis.asObservable() | async as nbChamis">
    <app-top-rated [defis]="defis" [defisNbChamis]="nbChamis"></app-top-rated>
  </div>
  <app-most-played [defis]="defis"></app-most-played>
  <app-defis [defis]="defis"></app-defis>
  <app-tag-tendance [tags]="tagsTab" ></app-tag-tendance>
</div>

