<div *ngIf="step.type==='TacheDTO'" class="game-container">
  <mat-card>
    <mat-card-title>Description</mat-card-title>
    <mat-card-content>
      <p>{{step.description}}</p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Question</mat-card-title>
    <mat-card-subtitle>{{step.question}}</mat-card-subtitle>
    <mat-card-content>
      <form class="form-container" (submit)="checkButton(input.value)">
        <mat-form-field appearance="fill">
          <mat-label>Réponse</mat-label>
          <input matInput placeholder="Reponse" #input required>
        </mat-form-field>
        <button mat-stroked-button type="submit" color="primary">Vérifier</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="step.type==='IndicationDTO'" class="game-container">
  <mat-card>
    <mat-card-title>Indication</mat-card-title>
    <mat-card-content>
      <p>{{step.text}}</p>
    </mat-card-content>
  </mat-card>
</div>
