@import "src/app-var";
.game-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  mat-card{
    margin: 25px 0;
    max-width: $max-width-smartphone;
    width: 85%;
    align-self: center;
  }
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.image-container{
  display: flex;
  justify-content: center;
}

.step-image{
  height: 300px;
  width: 90%;
  object-fit: cover;
}
