@import "src/app-var";
.game-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  mat-card{
    margin: 25px 0;
    max-width: $max-width-smartphone;
    width: 85%;
    align-self: center;
  }
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
