<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row class="toolbar-row">
    <div>
      <button mat-icon-button matTooltip="Indice" (click)="openBottomSheet()" >
        <mat-icon matBadge="1" matBadgeColor="accent" >lightbulb</mat-icon>
      </button>
    </div>
    <div class="progress-bar-container">
      <mat-progress-bar color="accent" mode="determinate" value="40" class="progress-flex"></mat-progress-bar>
      <span>1/8</span>
    </div>
    <div>
      <button mat-icon-button matTooltip="Étape précédentes">
        <mat-icon>arrow_back_ios_new</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Étape suivante" (click)="nextStep.emit()">
        <mat-icon>arrow_forward_ios_new</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
