<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row class="toolbar-row">
    <div>
      <button mat-icon-button matTooltip="Indice" (click)="openBottomSheet()" [disabled]="nbIndices<1">
        <mat-icon [matBadge]="nbIndices<1?null:nbIndices" matBadgeColor="accent" >lightbulb</mat-icon>
      </button>
    </div>
    <div class="progress-bar-container">
      <mat-progress-bar color="accent" mode="determinate" [value]="toPercent()" class="progress-flex"></mat-progress-bar>
      <span>{{currentStep}}/{{totalStep}}</span>
    </div>
    <div>
      <button mat-icon-button matTooltip="Étape précédentes" (click)="previousStep.emit()" [disabled]="disablePrevious()">
        <mat-icon>arrow_back_ios_new</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Étape suivante" (click)="nextStep.emit()" [disabled]="disableNext()">
        <mat-icon>arrow_forward_ios_new</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
