<mat-card *ngIf="obsDefi | async as defi">
  <img mat-card-image src="assets/defi_picture.jpg"
       alt="{{defi.titre}}">
  <mat-card-header>
    <mat-card-title>{{defi.titre}}</mat-card-title>
  </mat-card-header>
  <ng-container *ngIf="checkIfNote(defi)">
    <h4>Notes</h4>
    <mat-card-content *ngIf="obsRating | async as rating">
      <app-rating-view [rating]="rating" [avg]="defi.noteMoyenne!"></app-rating-view>
    </mat-card-content>
  </ng-container>
</mat-card>
<mat-list *ngIf="obsCom | async as comm">
  <app-commentaire *ngFor="let com of comm" [commentaire]="com"></app-commentaire>
</mat-list>

