<ng-container *ngIf="viewObsDefi | async as defi">
  <mat-card>
    <img mat-card-image [src]="defi.img" [alt]="defi.titre">
    <mat-card-header>
      <mat-card-title>{{defi.titre}}</mat-card-title>
    </mat-card-header>
    <ng-container *ngIf="checkIfNote(defi)">
      <h4>Notes</h4>
      <mat-card-content *ngIf="obsRating | async as rating">
        <app-rating-view [rating]="rating" [avg]="defi.noteMoyenne!"></app-rating-view>
      </mat-card-content>
    </ng-container>
  </mat-card>
  <app-add-comment [defiId]="defi.id!" (commentAdded)="apendNewComment($event)"></app-add-comment>
  <mat-list *ngIf="obsCom | async as comm">
    <app-commentaire *ngFor="let com of comm" [commentaire]="com"></app-commentaire>
  </mat-list>
</ng-container>
