.content{
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  * {
    margin: 0 20px;
  }
}

mat-card-header{
  display: flex;
  justify-content: center;
}

.defi-notes{
  margin: 0 15px;
}

.defi-rating{
  width: 100%;
}

.button-defi-container{
  display: flex;
  justify-content: center;
}

.defi-description{
  margin: 20px;
}

.commentaires-section{
  margin: 0 10px;
}

.image-defi-info{
  height: 280px;
  object-fit: cover;
}
