<ng-container *ngIf="obsDefi | async as defi">
  <section class="content">
    <div class="defi-img">
      <img src="assets/defi_picture.jpg"
           alt="{{defi.titre}}">
    </div>
    <div>
      <h1>{{defi.titre}}</h1>
    </div>
    <ng-container *ngIf="checkIfNote(defi)">
      <h4>Notes</h4>
      <div class="defi-rating" *ngIf="obsRating | async as rating">
        <app-rating-view [rating]="rating" [avg]="defi.noteMoyenne!"></app-rating-view>
      </div>
    </ng-container>
  </section>
  <app-add-comment [defiId]="defi.id!" (commentAdded)="apendNewComment($event)"></app-add-comment>
  <div *ngIf="obsCom | async as comm">
    <app-commentaire *ngFor="let com of comm" [commentaire]="com"></app-commentaire>
  </div>
</ng-container>
