<div class="defi-created">
  <h4 class="spacer">{{defiCreated.titre}}</h4>
  <button class="content-defi-created" color="primary" mat-icon-button aria-label="Informations" routerLink="/info/{{defiCreated.id}}">
    <mat-icon>info</mat-icon>
  </button>
  <div *ngIf="getUserCo() | async as userCo">
    <button class="content-defi-created" color="warn" *ngIf="getAuteurId() == userCo" mat-icon-button aria-label="Supprimer" (click)="deleteDefi()" >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
<mat-divider></mat-divider>
