<mat-toolbar class="nav-bar">
  <div class="nav-sub-container">
    <button mat-flat-button routerLink="/home" routerLinkActive="active-link">
      <div class="nav-button-text">
      <mat-icon>home</mat-icon>
      <span>Acceuil</span>
      </div>
    </button>
    <button mat-flat-button routerLink="/new" routerLinkActive="active-link">
      <div class="nav-button-text">
      <mat-icon>add_circle_outline</mat-icon>
      <span>Crée</span>
      </div>
    </button>
    <button mat-flat-button routerLink="/explore" routerLinkActive="active-link">
      <div class="nav-button-text">
      <mat-icon>explore</mat-icon>
      <span>Découvrire</span>
      </div>
    </button>
  </div>
</mat-toolbar>
