@import "/src/app-var";

.map-container {
  position: relative;
  margin: 30px;
  height: 100vw;
  width:  100vw;
}

.map-frame {
  border: 1px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

@media screen and(max-width: $max-width-smartphone){
  .map-container{
    margin: 0 0 30px;
    width: 100%;
  }
}


