<!-- <p>app-map works!</p>
`<ejs-maps id='rn-container' [layers]='layers'>
  <e-layers>
    <e-layer [layerType] = 'layerType'></e-layer>
  </e-layers>
</ejs-maps> -->

<div class="map-container" [class.small]="reduceSize">
  <div class="map-frame">
    <div id="map"></div>
  </div>
  <div class="downicon-container">
    <button mat-icon-button (click)="reduceSize=!reduceSize">
      <mat-icon color="primary" *ngIf="!reduceSize">keyboard_arrow_down</mat-icon>
      <mat-icon color="primary" *ngIf="reduceSize">keyboard_arrow_up</mat-icon>
    </button>
  </div>
</div>
