<mat-expansion-panel class="histo-com-container" (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{getNomDefi()}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-container class="com-content">
    <div class="note-defi" *ngIf="obsNote | async as note">
      <div *ngIf="note.valeur!>0" class="note-container">
        <mat-icon color="primary" class="note-icon">star</mat-icon>
        <span>{{note.valeur}}</span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div *ngIf="obsComs | async as coms">
      <app-comment-user *ngFor="let com of coms" [commentaire]="com"></app-comment-user>
    </div>
  </ng-container>
</mat-expansion-panel>
