<h1 class="kiwi">Viens jouer !</h1>
<div class="container" rows="5" cols="20" >
  <div class="row">
    <div class="card" *ngFor="let defi of defis; let i = index; trackBy:trackById">
      <mat-card>
        <mat-card-title class="kiwi">
          {{defi.titre}}
        </mat-card-title>
        <h3>Arret : {{defi.arretDTO?.nomArret}}</h3>
        <h3 class="banane">score : {{defi.noteMoyenne}}/5</h3>
        <p>Durée : {{defi.duree}} minutes</p>
        <img mat-card-lg-image class="poireau"src=".\assets\imageSlides.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p class="fraise">
            {{defi.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [routerLink]="'/game/'+defi.id">JOUER</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
