<!-- <mat-icon>room</mat-icon> pour icon arret-->
<mat-stepper [orientation]="innerWidth<600?'vertical':'horizontal'" linear="false">
  <mat-step [stepControl]="firstFormGroup" errorMessage="Informations du défi non remplies en totalité">
    <form [formGroup]="firstFormGroup" novalidate>
      <ng-template matStepLabel>Tu veux créer un défi ? C'est parti !</ng-template>
      <div class="step-container">
        <!-- Titre du défi -->
        <div class="form-items">
          <p>Tu dois donner un titre à ton défi !</p>
          <mat-form-field appearance="outline">
            <mat-label>Titre du défi</mat-label>
            <input matInput placeholder="" formControlName="titre" required>
            <mat-error *ngIf="checkError('titre', 'required')">Le titre doit être renseigné</mat-error>
            <mat-error *ngIf="checkError('titre', 'maxlength')">Le titre est trop
              long {{firstFormGroup.controls['titre'].value.length}}/45
            </mat-error>
            <mat-error *ngIf="checkError('titre', 'minlength')">Le titre est trop court
              de {{5 - firstFormGroup.controls['titre'].value.length}}</mat-error>
          </mat-form-field>
        </div>

        <!-- Description -->
        <div class="form-items">
          <p>Rédige un petit synopsis afin d'attirer les chamis vers ton défi</p>
          <mat-form-field appearance="outline">
            <mat-label>Mini-description du défi</mat-label>
            <input matInput placeholder="" formControlName="minidescription" required/>
            <mat-error *ngIf="checkError('minidescription', 'required')">La description doit être renseignée</mat-error>
            <mat-error *ngIf="checkError('minidescription', 'maxlength')">La description est trop
              longue {{firstFormGroup.controls['minidescription'].value.length}}/128
            </mat-error>
            <mat-error *ngIf="checkError('minidescription', 'minlength')">La description est trop courte
              de {{10 - firstFormGroup.controls['minidescription'].value.length}}</mat-error>
          </mat-form-field>
        </div>
        <div class="form-items">
          <p>Rédige une description complète de ton défi</p>
          <mat-form-field appearance="outline">
            <mat-label>Description complète du défi</mat-label>
            <textarea matInput placeholder="" formControlName="description" rows="4" required></textarea>
            <mat-error *ngIf="checkError('description', 'required')">La description doit être renseignée</mat-error>
            <mat-error *ngIf="checkError('description', 'maxlength')">La description est trop
              longue {{firstFormGroup.controls['description'].value.length}}/1024
            </mat-error>
            <mat-error *ngIf="checkError('description', 'minlength')">La description est trop courte
              de {{50 - firstFormGroup.controls['description'].value.length}}</mat-error>
          </mat-form-field>
        </div>
        <div class="split-container">
          <div class="form-items">
            <!-- Arret -->
            <p>Choisis l'arrêt dans la Métropole qui servira de point de départ au visiteur pour commencer ton défi.</p>
            <mat-form-field appearance="outline">
              <mat-label>Arrêt de départ</mat-label>
              <input matInput
                     placeholder="Chavant, Condillac Université, etc..."
                     formControlName="arret"
                     [matAutocomplete]="auto"
                     required>
              <mat-icon matSuffix style="cursor: pointer;">room</mat-icon>
              <mat-error *ngIf="checkError('arret', 'required')">L'arrêt doit être renseigné</mat-error>
              <mat-error *ngIf="checkError('arret', 'notfound')">L'arrêt n'a pas été trouvé</mat-error>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected($event)">
                <mat-option *ngIf="isLoading" class="is-loading">Chargement...</mat-option>
                <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let stop of stops" [value]="stop.properties.name" [id]="stop.properties.id">
                    <span><b>{{stop.properties.name}}</b> ({{stop.properties.city}})</span>
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <!-- Duree du défi -->
          <div class="form-items">
            <p>Combien de temps estimes-tu nécessaire
              pour effectuer ton défi (en minutes) ?</p>
            <mat-form-field appearance="outline">
              <mat-label> Durée du défi</mat-label>
              <input matInput placeholder="Durée du défi" formControlName="duree" type="number" name="duree" min="1"
                     required>
              <mat-error *ngIf="checkError('duree', 'required')">La durée doit être renseignée</mat-error>
              <mat-error *ngIf="checkError('duree', 'min')">La durée doit être d'une minute minimum</mat-error>
            </mat-form-field>
          </div>
        </div>

        <!-- Tags -->

        <div class="form-items">
          <p>Saisis des mots clés pour aider les autres chamis à retrouver ton défi</p>
          <mat-form-field appearance="outline">
            <mat-label>Mots-clés du défi</mat-label>
            <mat-chip-list #chipList aria-label="Mot Clés">
              <mat-chip *ngFor="let item of listeTags" selectable removable (removed)="remove(item)">
                {{item}}
                <mat-icon matChipRemove>supprimer</mat-icon>
              </mat-chip>
            </mat-chip-list>
            <input pattern="[a-zA-Z ]*"
                   name="tags"
                   placeholder="Découverte, StreetArt , etc..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur
                   (matChipInputTokenEnd)="add($event)">
          </mat-form-field>
        </div>
        <div class="form-items stepper-next-container">
          <button mat-button matStepperNext color="primary">Suivant</button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" errorMessage="Informations des étapes non remplies en totalité">
    <ng-template matStepLabel>Les étapes du défi</ng-template>
    <div class="step-container">
      <div class="form-items">
        <p>Dans notre communauté, une étape peut être une indication ou une tache à faire ! Combien d'étapes contient ton défi ?</p>
        <!-- Creation des étapes -->
        <button mat-raised-button (click)="addEtape()" color="primary" class="stepper-next-container">Ajouter une étape</button>
      </div>
      <div class="form-items">
        <mat-accordion cdkDropList
                       *ngIf="getEtapesObservable() | async as etapes"
                       [cdkDropListData]="etapes"
                       (cdkDropListDropped)="drop($event)">
          <mat-expansion-panel
            cdkDrag
            *ngFor="let e of etapes;let num = index; trackBy: trackById">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon cdkDragHandle color="primary">
                  drag_handle
                </mat-icon>
                <span *ngIf="innerWidth<600;else titleFull">Etape {{num + 1}}</span>
                <ng-template #titleFull>
                  <span>Etape {{e.numero + 1}} : {{e.titre}}</span>
                </ng-template>
              </mat-panel-title>
              <mat-panel-description>
                <mat-error *ngIf="!e.isValide && innerWidth>=1080" style="margin-right: 10px">Attention, il y a des
                  erreurs dans cette étape !
                </mat-error>
                <mat-icon color="warn" *ngIf="!e.isValide">error</mat-icon>
                <button mat-icon-button (click)="delete(e.numero)" *ngIf="etapes.length!==1">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <app-create-etape [etape]="e"></app-create-etape>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <div class="split-container stepper-next-container">
        <button mat-button matStepperPrevious color="primary">Retour</button>
        <button mat-button matStepperNext color="primary">Suivant</button>
      </div>
    </div>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>On arrive à la fin !</ng-template>
      <!--<button mat-stroked-button (click)="openSnackBar(messageFi,action)">Créer mon défi</button>-->

      <br>
      <!-- Modification de ce qu'on a fait -->
      <div>
        <p class="TextModifierDefi"> Tu as changé d'avis ?</p>
        <p>Tu peux encore le modifier</p>
        <button mat-button matStepperPrevious color="warn">
          Modifier le défi
          <mat-icon>update</mat-icon>
        </button>
      </div>

      <br>

      <div>
        <button mat-button color="primary"
                (click)="submitForm()"
                [disabled]="firstFormGroup.invalid || firstFormGroup.pristine || secondFormGroup.invalid || this.idUser ===-1">
          Créer le défi
          <mat-icon>task_alt</mat-icon>
        </button>
        <mat-error *ngIf="idUser ===-1">Veuillez vous connecter pour créer un défi</mat-error>
      </div>
  </mat-step>
</mat-stepper>

