mat-form-field {
  margin-right: 20px;
}
.TextModifierDefi{
  font-weight: bold;
}

.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: end;
  align-items: center;
}
