<div>
  <div>
    <h2 class="title">Reprendre</h2>
    <div class="row">
      <div class="card" *ngFor="let visite of visites; let i = index; trackBy:trackById">
        <mat-card>
          <img class="poireau" mat-card-image [src]="visite.defi!.img" [alt]="visite.defi!.titre">
          <mat-card-title class="kiwi">
            {{visite.defi!.titre!}}
          </mat-card-title>
          <mat-card-subtitle class="subtitle-container">
            <ng-container *ngIf="checkIfNote(visite.defi!.noteMoyenne!)">
              <mat-icon class="material-symbols-outlined small-icon" color="primary">star</mat-icon>
              <span>{{getNoteMoyenne(visite)}} • </span>
            </ng-container>
            <ng-container *ngIf="getLocObs() | async as geoloc">
              <mat-icon class="material-symbols-outlined small-icon">
                directions_walk
              </mat-icon>
              <span>{{getDistance(geoloc.coords.latitude, geoloc.coords.longitude, visite.defi!.arretDTO!.latitude!, visite.defi!.arretDTO!.longitude!)}}
                km de vous</span>
            </ng-container>
            <div>
              <span>Etape {{visite.etapeCourante!.numero! + 1}}/{{visite.defi!.etapes!.length}}</span>
            </div>
          </mat-card-subtitle>
          <mat-card-actions>
            <button mat-stroked-button color="warn" (click)="abandon(visite.id!)">Abandon</button>
            <a mat-stroked-button color="primary" [routerLink]="'/game/'+visite.defi!.id!">Reprendre</a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
