<div class="app" *ngIf="getObsVisite | async as obsVisite">
  <div class="mobile-layout">
    <app-top-bar [backRoute]="'/home'" [title]="getCurrentStepTitle(obsVisite.etapeCourante)"></app-top-bar>
    <div class="contents padding">
      <app-game [step]="getEtape(obsVisite)" (response)="checkResponse($event)" [responseDTO]="getCurrentResponse(obsVisite.reponse, obsVisite.etapeCourante?.numero)" ></app-game>
    </div>
    <app-game-bar
      [currentStep]="getCurrentStepNumber(obsVisite.etapeCourante)"
      [totalStep]="getTotalStep(obsVisite.defi)"
      [nbIndices]="getNbIndices(obsVisite.etapeCourante)"
      (nextStep)="next()"
      (previousStep)="previous()"
    ></app-game-bar>
  </div>
</div>
<div class="app" *ngIf="notFound">
  <div class="mobile-layout">
    <app-top-bar [backRoute]="'/home'" [title]="'CyberChamis'"></app-top-bar>
    <div class="contents">
      <app-not-found></app-not-found>
    </div>
  </div>
</div>

