<div class="app" *ngIf="getObsVisite | async as obsVisite">
  <div class="mobile-layout">
    <app-top-bar [backRoute]="'/home'" [title]="getCurrentStepTitle(obsVisite.etapeCourante)"></app-top-bar>
    <div class="contents padding">
      <app-game *ngIf="!finishView" [step]="getEtape(obsVisite)"
                (response)="checkResponse($event)"
                [responseDTO]="obsVisite.reponseCourante"></app-game>
      <app-finish *ngIf="finishView" [visite]="obsVisite"></app-finish>
    </div>
    <app-game-bar *ngIf="!finishView"
      [currentStep]="getCurrentStepNumber(obsVisite.etapeCourante)"
      [totalStep]="getTotalStep(obsVisite.defi)"
      [nbIndices]="getNbIndices(obsVisite.etapeCourante)"
      [nbIndicesUsed]="getNbIndicesUtilises(obsVisite.reponseCourante)+1"
      (nextStep)="next()"
      (previousStep)="previous()"
      (finishGame)="finish()"
    ></app-game-bar>
  </div>
</div>
<div class="app" *ngIf="notFound">
  <div class="mobile-layout">
    <app-top-bar [backRoute]="'/home'" [title]="'CyberChamis'"></app-top-bar>
    <div class="contents">
      <app-not-found></app-not-found>
    </div>
  </div>
</div>

