<section *ngIf="obsUser | async as user" class="profile-container">
  <div class="profile-img-container">
    <img src="{{user.profileImg}}" alt="avatar" class="pp" referrerpolicy="no-referrer">
    <h1>{{user.username}}</h1>
  </div>
  <div class="card-container" *ngIf="user.bio">
    <mat-card class="card-margin">
      <mat-card-content class="user-bio-container">
        <p>{{user.bio}}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-tab-group>
    <mat-tab label="Défis terminés">
      <div class="container-visites" *ngIf="obsVisitesFinished | async as visites">
        <app-visite-profile *ngFor="let visite of visites" [visite]="visite"></app-visite-profile>
      </div>
    </mat-tab>
    <mat-tab label="Défis créés">
      <div *ngIf="obsDefisCreated | async as defisCreated">
        <app-defi-created *ngFor="let defiCreated of defisCreated" [defiCreated]="defiCreated"></app-defi-created>
      </div>
    </mat-tab>
    <mat-tab label="Commentaires et notes">
      <div *ngIf="obsDefis | async as defis">
        <app-histo-comment-user *ngFor="let defi of defis" [defi]="defi" [user]="user"></app-histo-comment-user>
      </div>
    </mat-tab>
  </mat-tab-group>

</section>
